<h2><%= link_to post.title, post %></h2>
<p class="lead">
  by
  <%= link_to post.user.name, user_path(id: post.user.id) %>
</p>
<p>
  <span class="glyphicon glyphicon-time"></span> Posted on
  <%= post.created_at %>
</p>
<hr>
<div class="post-banner">
  <% if post.picture.present? %>
    <%= image_tag post.picture_url(:standard) %>
  <% end %>
</div>
<%= link_to post, class:"btn btn-primary" do %>
  Read more
  <span class="glyphicon glyphicon-chevron-right"></span>
<% end %>
