<h1 class="form-title text-center">Create a new post</h1>
  <%= form_for @post do |f| %>
    <div class="form-label">
      <%= f.label :title, t(".title"), class: "form-label anchor", id: "form-name" %>
        <%= f.text_field :title, class: "form-input", placeholder: t(".title") %>
    </div>

    <div class="form-label">
      <%= f.label :content, t(".content"), class: "control-label anchor", id: "form-des" %>
        <%= f.text_area :content, id: "markdown", class: "form-control form-input", cols: "40", rows: "10",
          placeholder: t(".content") %>
    </div>

    <div class="form-label image-upload">
      <%= f.label :picture, t(".upload"), class: "control-label anchor file-input", id: "form-image" %>
      <%= f.file_field :picture %>
    </div>

    <div class="form-label">
        <%= f.submit t(".submit"), class: "submit-button" %>
    </div>
  <% end %>
