<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/"><%= t ".book_name" %></a>
    by <a href="http://www.michaelhartl.com/"><%= t ".author" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about.title"), "#" %></li>
      <li><%= link_to t("static_pages.contact.title"), "#" %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".news" %></a></li>
    </ul>
  </nav>
</footer>
